# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
*.xcodeproj

# CocoaPods
Pods/

# Carthage
Carthage/Build/
